In [1]:
import pandas as pd
import numpy as np
import pickle


from sklearn.preprocessing import MinMaxScaler

In [3]:
df = pd.read_csv("demanda-depurado.csv")

df

           fecha       valor indicador              region
0     2014-12-31  603.961474   Demanda          peninsular
1     2015-01-01  715.038679   Demanda            canarias
2     2015-01-02  698.648512   Demanda          pais vasco
3     2015-01-03  663.533254   Demanda            la rioja
4     2015-01-04  714.784323   Demanda           cantabria
...          ...         ...       ...                 ...
3763  2025-04-20  586.636561   Demanda    region de murcia
3764  2025-04-21  658.548194   Demanda  castilla la mancha
3765  2025-04-22  635.731910   Demanda              aragon
3766  2025-04-23  638.813354   Demanda            baleares
3767  2025-04-24  539.895307   Demanda           cantabria

[3768 rows x 4 columns]

In [5]:
df['fecha'] = pd.to_datetime(df['fecha'])
df['dia'] = df['fecha'].dt.day
df['mes'] = df['fecha'].dt.month
df['año'] = df['fecha'].dt.year

# Selección de features y target
X = df[['dia', 'mes', 'año']].values
y = df[['valor']].values

# Escalar datos
X_scaler = MinMaxScaler()
y_scaler = MinMaxScaler()

X_scaled = X_scaler.fit_transform(X)
y_scaled = y_scaler.fit_transform(y)

# Crear secuencias temporales
T = 7
X_seq = []
y_seq = []

for i in range(len(X_scaled) - T):
    X_seq.append(X_scaled[i:i+T])
    y_seq.append(y_scaled[i+T])

X_seq = np.array(X_seq)
y_seq = np.array(y_seq)

# Usamos secuencias temporales porque el orden es importante y no se puede mezclar aleatoriamente como en train_test_split
secuencia_temp = int(len(X_seq) * 0.7)
X_train_seq = X_seq[:secuencia_temp]
y_train_seq = y_seq[:secuencia_temp]
X_test_seq = X_seq[secuencia_temp:]
y_test_seq = y_seq[secuencia_temp:]

In [7]:
with open("X_scaler.pkl", "wb") as file:
    pickle.dump(X_scaler, file)

with open("y_scaler.pkl", "wb") as file:
    pickle.dump(y_scaler, file)